.main-image {
	width: 1500px;
	height: auto;
}

.centered-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-header {
	font-size: 68pt;
	font-family: 'Sacramento', cursive;
	font-weight: 100;
	text-align: center;
	color: #666;
}

.second-header {
	color: #e47777;
	font-size: 42pt;
	font-family: 'Sacramento', cursive;
	font-weight: 100;
	text-align: center;
}


/* Tabs */

.tabs {
	width: 40%;
	flex-wrap: wrap;
	height: auto;
}

.tabs .indicator {
	background-color: #ddd;
}

.tabs .tab-item {
	width: 10%;
}

.tabs .tab-item a {
	color: #aaa;
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Dancing Script', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
}
.tabs .divider {
	height: 1px;
	width: 100%;
	background-color: black;
}

.tabs .tab-list {
	position: absolute;
	bottom: 0;
	display: flex;
	background-color: white;
}

.tab-list .tab-item {
	padding: 10px;
}


/* Mobile */
@media only screen and (max-width : 417px) {
	.main-header {
		font-size: 52px;
	}
	.second-header {
		font-size: 42px;
	}
	.parallax {
		left: 40%;
	}
	.parallax img {
	}
	.parallax.secondary {
		left: 50%;
	}
	.parallax.secondary img {
	}
	.indicator {
		display: none;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.parallax {
		left: 20%;
	}
	.parallax.secondary {
		left: 30%;
	}
}
