.main-image {
	width: 1500px;
	height: auto;
}

.row {
	margin-bottom: 0;
}

.location-image {
	width: 1500px;
	height: auto;
	top: -50%;
}

.centered-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-header {
	font-size: 68pt;
	font-family: 'Sacramento', cursive;
	font-weight: 100;
	text-align: center;
	color: #666;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.fixed-main-header {
	font-family: 'Sacramento', cursive;
	opacity: 0;
	padding: 0 0;
	font-weight: 100;
	text-align: center;
	color: #666;
	font-size: 24px;
	transition: 0.30s;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.fixed .fixed-main-header {
	opacity: 1;
	font-size: 32px;
}
.second-header {
	color: #e47777;
	font-size: 42pt;
	font-family: 'Sacramento', cursive;
	font-weight: 100;
	text-align: center;
}


/* Tabs */

.tab-container  {
	padding:20px 40px;
	background-color: #fff;
	position: absolute;
	width: 100%;
	z-index: 1;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.tab-container.fixed {
	position: fixed;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	top: 0;
	width: 100%;
}

.tabs {
	width: 40%;
	flex-wrap: wrap;
	height: auto;
}

.tabs .indicator {
	background-color: #ddd;
}

.tabs .tab-item {
	width: 10%;
	-webkit-flex: 1 0 auto;
}

.tabs .tab-item a {
	color: #aaa;
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Dancing Script', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
}
.tabs .divider {
	height: 1px;
	width: 100%;
	background-color: black;
}

.tabs .tab-list {
	position: absolute;
	bottom: 0;
	display: flex;
	background-color: white;
}

.tab-list .tab-item {
	padding: 10px;
}


/* Mobile */
@media only screen and (max-width : 417px) {

	.tab-container {
		padding-top: 0;
	}

	.fixed.tab-container {
		padding-top: 20px;
	}

	.main-container {
		padding-bottom: 0;
	}

	.main-header {
		font-size: 52px;
	}

	.fixed .fixed-main-header {
		font-size: 16px;
	}
	.second-header {
		font-size: 42px;
	}
	.parallax {
		left: 20%;
	}
	.parallax img {
	}
	.parallax.secondary {
		left: 30%;
	}
	.parallax.secondary img {
	}
	.indicator {
		display: none;
	}
	.main-image {
		width: 800px;
		height: auto;
	}
	.location-image {
		width: 800px;
		height: auto;
		top: 10%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.parallax {
		left: 20%;
	}
	.parallax.secondary {
		left: 30%;
	}
}
