.bridal-party #top-image-container{
  max-height: 0;
  min-height: 30%;
}

.bridal-party-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 5% 5% 5%;
  justify-content: center;
  -webkit-justify-content: center;
}

.bridal-party-outer-container .header-with-decoration {
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 2%;
}

.bridal-party-outer-container {
  margin-top: 40px;
}

.brides-maids.header-with-decoration {
  color: #F1ACAB;
}

.brides-maids.header-with-decoration .line-decoration {
  background-color: #F1ACAB;
  max-width: 20%;
}

.groomsman.header-with-decoration {
  color: #97b9dc;
}

.groomsman.header-with-decoration .line-decoration {
  background-color: #97b9dc;
  max-width: 20%;
}

@media only screen and (max-width : 417px) {
  .bridal-party-outer-container {
    padding-top: 15%;
  }
}

/* Using Columns */
/*.bridal-party-container {
  padding: 0 10% 20% 10%;
  columns: 3 240px;
  -webkit-columns: 3 240px;
  -moz-columns: 3 340px;
}*/
